body {

  background-color: rgb(227, 227, 227);

}
a {

  color: #006bfa;
  font-weight: bold;
  text-decoration: none;

}

a:hover {

  color: #333;

}

input[type=submit], button {

  background-color: #006bfa;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  width: 100%;

}

input[type=button] {

  background-color: #006bfa;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;

}

input[type=submit]:hover, button:hover {

  background-color: #0046fa;

}

input[type=text] {

  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;

}

textarea {

  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
  resize: none;
  height: 500px;

}

table, th, td {

  border: 1px solid #333;
  word-wrap: break-word;

}

table {

    border-collapse: collapse;
    table-layout: fixed;
    width: 900px;

}


th {

    background-color: #0098fa;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;

}

tr:nth-child(even) {

  background-color: #fff;

}

tr:nth-child(odd) {

  background-color: #d1ecf9;

}

td {

  height: 50px;
  padding: 20px;
  font-size: 20px;
  text-align: center;

}

form {

  padding: 0;
  margin: 0;

}

.short-textarea {

  height: 100px;

}

.remove-button {

  background-color: transparent;
  color: #ff4747;
  cursor: pointer;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  display: inline;
  font-size: 35px;
  line-height: 35px;
  margin-top: 10px;
  float: right;

}

input[type=text].buttoned-input {

  width: 95%;
  height: 35px;

}

.heading {

  color: #333;
  font-size: 25px;
  font-weight: bold;

}

.content-border {

  color: #333;
  font-size: 20px;
  padding: 50px;
  border: 2px solid #333;
  background-color: #fff;

}

.upload-thumbnail {

  width: 35px;
  height: 35px;
  margin-right: 5px;

}

.add-upload-thumbnail {

  width: 100px;
  height: 100px;
  margin-right: 10px;

}

.thumbnail-container {

  position: relative;
  margin: 0;
  width: 150px;
  height: 150px;
  display: inline;
  margin-right: 25px;
  float: left;

}

.preview-thumbnail {

  width: 150px;
  height: 150px;
  -webkit-box-shadow: 0 0 5px 5px #888;
  -moz-box-shadow: 0 0 5px 5px #888;
  box-shadow: 0 0 5px 5px #888;
  
}

.remove-thumbnail {

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #ff4747;
  color: #fff;
  cursor: pointer;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  display: inline;
  font-size: 35px;
  line-height: 35px;
  display: none;

}

.edit-thumbnail {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #00cc00;
  color: #fff;
  cursor: pointer;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  display: inline;
  font-size: 35px;
  line-height: 35px;
  display: none;

}

.sub-heading {

  color: #333;
  font-size: 20px;
  font-weight: bold;

}

#image-alert {

  position: absolute;
  right: 0;
  left: 0;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  z-index: 2;
  width: 300px;
  padding: 30px 20px 30px 20px;
  border: 2px solid #333;

}

#main-container {

  width: 904px;
  margin: 100px auto 100px auto;

}

#description {

  height: 100px;

}

#content {

  height: 500px;

}

#content-styling-bar {

  width: 100%;
  margin-top: 25px;

}

#content-styling-bar td {

  background-color: #006bfa;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;

}

#content-styling-bar td:hover {

  background-color: #0046fa;

}